## Importing the necessary libraries

In [84]:
import numpy as np
import pandas as pd

## loading dataset
To read dataset included "8859" as encoder since default encoder "utf-8" can't decode byte 0xf4 in position 87447 of the dataset.

In [4]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "8859")

Question_11:
What is the total sum of Aminal Fat produced in 2014 and 2017 respectively?

In [13]:
data.groupby("Item")[["Y2014","Y2017"]].sum() #209460.54 & 269617.53 respectively

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

Question_12:
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [6]:
print(data["Y2015"].mean()) #Mean = 135.236

print(data["Y2015"].std()) #Standard deviation = 1603.404

135.23596649549236
1603.4039839423301

Question_13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [8]:
print(data["Y2016"].isna().sum()) #1535

print(data["Y2016"].isna().sum()*100/len(data["Y2016"])) #2.52

1535
2.518747025909456

Question_14:
Which year had the highest correlation with 'Element Code'?

In [11]:
corr_matrix = data.select_dtypes(exclude=[object])

corr_matrix.corr() #By inspecting the output, the year with the highest correlation with 'Element Code' is 2014

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

Question_15:
What year has the highest sum of Import Quantity?

In [77]:
data.groupby("Element")[["Y2014","Y2015","Y2016","Y2017","Y2018"]].sum() #2017

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

Question_16:
What is the total number of the sum of Production in 2014?

In [76]:
data.groupby("Element")["Y2014"].sum() #1931287.75

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

Question_17:
Which of this elements had the highest sum in 2018?

In [95]:
data.groupby("Element")["Y2018"].sum() #Domestic supply quantity & Production

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

Question_18:
Which of this elements had the 3rd lowest sum in 2018?

In [13]:
data.groupby("Element")["Y2018"].sum() # Fat supply quantity (g/capital/day)

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

Question_19:
What is the total Import Quantity in Algeria in 2018?

In [83]:
a = data.groupby(["Area","Element"])["Y2018"].sum()

a[7:8] #36238.29

Area     Element
Algeria  Import Quantity    36238.29
Name: Y2018, dtype: float64

Question_20:
What is the total number of unique countries in the dataset?

In [82]:
data["Area"].nunique() #49

49